<body class="welcome">
  <div class="main">
    <h1>Welcome to USA Nepalese Community Classifieds</h1>
    <h2>Nepalese USA classifieds online </h2>
    <div> <p> To Add a Listing Please Click <%= link_to "Here", new_post_path %></p></div>
    <div><p>To See all Listings Please Click <%= link_to "Here", posts_path %></p></div>
  </div>
</body>
