/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'normalize';

body.welcome
{
  height: 1200px;
  background-image: asset-url("nepal.jpg");
  background-size: cover;
  .main {
    background-color: white;
    margin-top: 90px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
  }
}


html, body {
  font-family: 'Raleway', sans-serif;
  background: #EDEFF0;
}

h1, h2, h3, h4, h5 {
  color: #373377;
}

.wrapper {
  width: 60%;
  max-width: 1120px;
  margin: 0 auto;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after{
  clear:both;
}

.listing {
  margin-left: 200px;
  background-color: #376589;
  width: 350px;
  border-radius: 5px;
  a{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
}

.main_header {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  #logo {
    float: left;
    a {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 1.2rem;
      text-decoration: none;
    }
  }
  .wrapper {
    .navbar {
      float: right;
    .links{
      text-transform: uppercase;
      float: left;
      margin: 12px;
      font-size: 1.0rem;
      a{
        text-decoration: none;
        color: 378989;
      }
    }
  }
}
}
#post_title {
  width: 500px;
  height: 20px;
}

#post_body{
  width: 500px;
  height: 150px;
}
#comment_name {
  width: 500px;
  height: 20px;
}
#comment_body {
  width: 500px;
  height: 150px;
}

#listing{
  background-color: orange;
}

#posts {
  margin: auto;
  width: 600px;
  a{
    text-decoration: none;
    color:#376589;
  }
  a:hover{
    text-decoration: none;
    color: blue;
  }
  .post {
    border-bottom: 1px dotted #D1d1d1;
    .title{
      color: #378989;
      text-decoration: none;
      font-size: 16px;
    }
    .date{
      color: #B2BAC2;
      font-size: 12px;
      font-style: italic;
    }
    .body {
      color: #B2BAC2;
      font-size: 14px;
    }
    .details {
      color: #B2BAC2;
      font-style: normal;
      font-size: 12px;
    }
  }
}
#category {

  #categorycol {
    display: inline-block;
    padding: 20px;
    a{
      text-decoration: none;
      color:#376589;
    }
    a:hover{
      text-decoration: none;
      color: blue;
    }
  }
  ul {
    list-style: none;

  li{
    display: inline;
    float: left;
    padding-right: 20px;
  }
}
border-bottom: 1px dotted #D1d1d1;

}

#comments {

  .comment {
    border-bottom: 1px dotted #D1d1d1;
    .title {
      color: #378989;
      text-decoration: none;
      font-size: 18px;
    }
  }

  #posts_show {
    .post {
      border-bottom: 1px dotted #D1d1d1;
      .title{
        color: #378989;
        text-decoration: none;
        font-size: 18px;
      }
      .date {
        color: #B2BAC2;
        font-size: 14px;
      }
      .body{
        color: #378989;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }
}
.new {
  display: inline-block;
  margin-left: 250px;
  text-align: center;
  width: 170px;
  padding: 10px;
  color: #378989;
  background: white;
  border: 1px solid red;
  border-radius: 5px;
  a {
    text-decoration: none;
  }
  a:hover {
    color: #D1d1d1;
  }
}
